<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/table.css}">
    <link rel="import" href="navbar.html" id="page1"/>
    <script type="text/javascript">
        document.write(page1.import.body.innerHTML);
    </script>`
</head>
<body>


<table  class="delete ">
      <tr>
          <th>名称</th>
          <th>简介</th>
          <th>查看</th>
          <th>删除</th>
      </tr>

      <tr th:each="pic : ${PicList}">
          <td th:text="${pic.getImgTitle()}"/>
          <td th:text="${pic.getImgDesc()}"/>
          <form th:action="@{/lookPic}" method="post">
              <td>
                  <input hidden name="imgID" th:value="${pic.getImgId()}"/>
                  <input type="submit" value="查看">
              </td>
          </form>
          <form th:action="@{/deletePic}" method="post">
              <td>
                  <input hidden name="imgID" th:value="${pic.getImgId()}"/>
                  <input type="submit" value="删除">
              </td>
          </form>
      </tr>

  </table>

</body>
</html>
