<!DOCTYPE html>
<html lang="en">
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/updatePic}" method="post" >
    <table>
        <input th:type="hidden"  th:value="${imgMsg.getImgId()} "  name="id">
        <tr>
            <td>名称</td>
            <td><input th:type="text" th:value="${imgMsg.getImgTitle()}" name="title"/></td>
        </tr>
        <tr>
            <td>简介</td>
            <td><input th:type="text" th:value="${imgMsg.getImgDesc()}" name="desc"> </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="修改"></td>
        </tr>
    </table>
</form>
</body>
</html>