<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查看图片详细信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/styles.css}">
    <link rel="import" href="navbar.html" id="page1"/>
    <script type="text/javascript">
        document.write(page1.import.body.innerHTML);
    </script>`
</head>
<body>
<div class="wrapper">

    <div class="container">
<form  th:action="@{/updatePic}" method="post" class="form">
    <table border=0 cellpadding=0 cellspacing=0 style="width:100% ;height:100%">
        <input th:type="hidden"  th:value="${imgMsg.getImgId()} "  name="id">
        <tr>
            <td>名称</td>
            <td><input th:type="text" th:value="${imgMsg.getImgTitle()}" name="title"/></td>
        </tr>
        <tr>
            <td>简介</td>
            <td><input th:type="text" th:value="${imgMsg.getImgDesc()}" name="desc"> </td>
        </tr>
        <tr>
            <input th:type="text" th:value="${imgPath}" name="desc">
            <img th:src="${imgPath}">
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="修改"></td>
        </tr>
    </table>
</form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>
</body>
</html>