<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>景区管理员注册</title>
</head>
<body>
<form action="/addPusherController" method="post">
    <table align="center">
        <tr>
            <td>用户名:</td>
            <td><input type="text" name="id"></td>
        </tr>
        <tr>
            <td>姓名：</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="text" name="pwd"></td>
        </tr>
        <tr>
            <td>身份简介：</td>
            <td><input type="text" name="desc"></td>
        </tr>
        <tr>
            <td>联系电话：</td>
            <td><input type="text" name="phone"></td>
        </tr>
    </table>
</form>
</body>
</html>