<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>景区管理员注册</title>

    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>


<div class="wrapper">

    <div class="container">
        <h1>See World-注册</h1>
<form action="/addPusherController" method="post" class="form">
    <input type="text" name="user" placeholder="用户名">
    <input type="text" name="name" placeholder="姓名">
    <input type="password" name="pwd" placeholder="密码">
    <input type="text" name="desc" placeholder="身份">
    <input type="text" name="phone" placeholder="联系方式">
    <input type="submit" name="注册">
</form></div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>


</body>
</html>