<!DOCTYPE html>
<html lang="zh">
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>景区管理员注册</title>

    <link rel="import" href="navbar.html" id="page1"/>
    <script type="text/javascript">
        document.write(page1.import.body.innerHTML);
    </script>`
</head>
<body >
<form action="/fileUploadController" method="post" enctype="multipart/form-data" >
    <table align="center" style="margin-top: -500px">
        <tr>
            <td>景区名称</td>
            <td><input type="text" name="title"></td>
        </tr>
        <tr>
            <td>景区简介</td>
            <td><input type="text" name="desc"></td>
        </tr>
        <tr>
            <td>景区图片</td>
            <td><input  type="file"  name="filename"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="确定"/></td>
        </tr>
    </table>
</form>
</body>
</html>